In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
from datetime import date
import requests

import nba_api
from nba_api.stats.static import teams
from nba_api.stats.endpoints import leaguegamefinder

In [72]:
#2015-2016 regular season start and end dates
start_15_16 = '2015-10-27'
end_15_16 = '2016-04-13'

#2016-2017 regular season start and end dates
start_16_17 = '2016-10-25'
end_16_17 = '2017-04-12'

#2016-2017 regular season start and end dates
start_17_18 = '2017-10-17'
end_17_18 = '2018-04-11'

#2018-2019 regular season start and end dates
start_18_19 = '2018-10-16'
end_18_19 = '2019-04-10'

In [73]:
teams_df = pd.DataFrame(teams.get_teams())
teams_df.rename(columns={'id':'TEAM_ID'}, inplace=True)

#teams_df.head()

In [74]:
# Get **all** the games so we can filter to an individual GAME_ID
result = leaguegamefinder.LeagueGameFinder()
all_games = result.get_data_frames()[0]

#all_games.head()

In [75]:
#match NBA teams from 'teams_df' with 'all_games' to remove
#all non NBA-games from 'all_games' 
nba_games = pd.merge(teams_df, all_games, on = 'TEAM_ID', how = 'inner')

#remove columns in merged df coming from 'teams_df'
nba_games = nba_games.drop(list(teams_df.columns)[1:],1)

nba_games.head(4)

,TEAM_ID,SEASON_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,1610612737,22019,ATL,Atlanta Hawks,0021900969,2020-03-11,ATL vs. NYK,L,265,131,...,0.808,15,38,53,26,6,3,17,25,0.0
1,1610612737,22019,ATL,Atlanta Hawks,0021900957,2020-03-09,ATL vs. CHA,W,290,143,...,0.593,12,41,53,33,1,5,15,26,5.0
2,1610612737,22019,ATL,Atlanta Hawks,0021900943,2020-03-07,ATL @ MEM,L,240,101,...,0.857,14,32,46,23,9,2,14,24,-17.0
3,1610612737,22019,ATL,Atlanta Hawks,0021900930,2020-03-06,ATL @ WAS,L,239,112,...,0.667,6,30,36,25,9,4,17,25,-6.0

In [78]:
#mask to filter dates within range
mask_15_16 = (nba_games['GAME_DATE'] >= start_15_16) & (nba_games['GAME_DATE'] <= end_15_16)
mask_16_17 = (nba_games['GAME_DATE'] >= start_16_17) & (nba_games['GAME_DATE'] <= end_16_17)
mask_17_18 = (nba_games['GAME_DATE'] >= start_17_18) & (nba_games['GAME_DATE'] <= end_17_18)
mask_18_19 = (nba_games['GAME_DATE'] >= start_18_19) & (nba_games['GAME_DATE'] <= end_18_19)

In [81]:
#regular season games held between given seasons
nba_games_15_16 = nba_games.loc[mask_15_16]
nba_games_16_17 = nba_games.loc[mask_16_17]
nba_games_17_18 = nba_games.loc[mask_17_18]
nba_games_18_19 = nba_games.loc[mask_18_19]

In [83]:
nba_games_15_16

,TEAM_ID,SEASON_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
377,1610612737,22015,ATL,Atlanta Hawks,0021501221,2016-04-13,ATL @ WAS,L,240,98,...,0.742,9,38,47,22,13,5,22,21,-11.0
378,1610612737,22015,ATL,Atlanta Hawks,0021501203,2016-04-11,ATL @ CLE,L,240,94,...,0.533,10,32,42,23,8,6,15,18,-15.0
379,1610612737,22015,ATL,Atlanta Hawks,0021501188,2016-04-09,ATL vs. BOS,W,240,118,...,0.818,5,39,44,31,10,10,17,22,11.0
380,1610612737,22015,ATL,Atlanta Hawks,0021501173,2016-04-07,ATL vs. TOR,W,239,95,...,0.810,5,36,41,23,4,12,13,19,8.0
381,1610612737,22015,ATL,Atlanta Hawks,0021501157,2016-04-05,ATL vs. PHX,W,242,103,...,0.737,13,37,50,26,16,3,16,21,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18252,1610612766,22015,CHA,Charlotte Hornets,0021500072,2015-11-05,CHA @ DAL,W,240,108,...,0.824,8,40,48,19,8,6,11,25,14.0
18253,1610612766,22015,CHA,Charlotte Hornets,0021500053,2015-11-03,CHA vs. CHI,W,241,130,...,0.957,12,40,52,26,6,4,9,11,25.0
18254,1610612766,22015,CHA,Charlotte Hornets,0021500039,2015-11-01,CHA vs. ATL,L,238,92,...,0.933,9,36,45,27,7,13,11,14,-2.0
18255,1610612766,22015,CHA,Charlotte Hornets,0021500026,2015-10-30,CHA @ ATL,L,242,94,...,0.769,13,41,54,23,7,6,18,20,-3.0
18256,1610612766,22015,CHA,Charlotte Hornets,0021500008,2015-10-28,CHA @ MIA,L,240,94,...,0.759,11,32,43,16,4,1,8,16,-10.0

In [84]:
#nba_games.loc[nba_games['TEAM_ABBREVIATION'] == 'LAL']